.urunler {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-left: 20px;
    margin-right: 20px;
}




.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    height: 500px;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    padding: 10px;
    margin-top: 100px;
}

.urun-foto{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    
}

.urun-foto img{
    width: 70%;     
    height: 200px;   
    object-fit: contain; 
    border-radius: 15px; 

}

.urun-adi{
    width: 400px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
    margin-top: 10px;
}

.urun-aciklama{
    margin-left: 30px;
    text-align: left;
    color: gray;
    font-size: 15px;
    height: 120px;
    
}


.ekleyen-stokbildir{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-left: 30px;
    width: 360px;
}

.ekleyen-stokbildir .ekleyen{
    color: rgb(44, 44, 44);
}

.ekleyen-stokbildir .stok-uyari{
    color: rgb(253, 11, 11);
}

.fiyat-sepet{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    justify-content: space-between;
    width: 360px;
}

.fiyat-sepet span{
    font-size: 22px;
    font-weight: 450;
    color: #273F4F;
}

.fiyat-sepet button{
    border: none;
    color: #273F4F;
    background-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    width: 150px;
    border-radius: 2px;
    height: 32px;
    color: black;
    font-size: 17px;
    cursor: pointer;
}

.kategori{
    display: flex;
    margin-left: 30px;
    color: gray;
}