* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dis-satis {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.satispanel {
    padding: 30px;
    background-color: #36576d;
    width: 1250px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 15px;
    margin: 50px;
}

.baslik,
.satilanlar {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0;
    padding: 12px 0;
}

.baslik {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 5px;

}

.sutun {
    flex: 1;
    text-align: center;
    font-size: 20px;
}

.satilanlar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 80px;
}

.satilanlar:last-of-type {
    border-bottom: none;
}



.ana-btn {
    width: 180px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.23);

    margin-left: 30px;
}

button,
button span {
    transition: 200ms;
}

.ana-btn .btn-span {
    transform: translateX(8px);
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.ana-btn .icon {
    border-left: 1px solid #007300;
}

.icon {
    position: absolute;
    transform: translateX(123px);
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ana-btn svg {
    width: 25px;
    stroke: white;
}



.ana-btn:hover .btn-span {
    color: transparent;
}

.ana-btn:hover .icon {
    width: 180px;
    border-left: none;
    transform: translateX(0);
}

.ana-btn:focus {
    outline: none;
}

.ana-btn:active .icon svg {
    transform: scale(0.8);
}

.hazirla-btn {
    background: #00a600;
}
.kargola-btn{
    background-color: orange;
}

.hazirla-btn:hover {
    background: #009e00;
}
.kargola-btn:hover{
    background-color: rgb(240, 156, 0);
}